<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.technocell.dar_shahr">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".job_details"></activity>
        <activity android:name=".RegPlaceMap" />

        <service
            android:name=".locationService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".splash_scren">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".explain_discounts"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".store_video"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".profile"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".store_discount"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Job_marker"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".security_code"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".register"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">

        </activity>
    </application>

</manifest>